.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-right: 22px;
  padding-bottom: 34px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  background-color: $white;

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 100%;
    width: 100vh;
    height: 2px;
    background-color: #68B738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px;
    margin-bottom: 79px;

    &::after {
      position: absolute;
      content: "";
      top: 60%;
      left: -80%;
      width: 500%;
      height: 2px;
      background-color: #68B738;
      z-index: -1;
    }
  }
  @media (min-width: $desktop-width) {
    margin-left: -36px;
  }
}

.additional-goods__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-goods__good-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 38px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additional-goods__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 14px;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-right: 38px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.additional-goods__item {
  position: relative;
  padding-top: 14px;
  padding-bottom: 16px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-top: 26px;
    padding-bottom: 25px;
    align-items: baseline;
    border: 1px solid #cdcdcd;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 325px 325px 244px;
    column-gap: 0;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 3px;
    align-items: baseline;
    border: none;

    &::after {
      display: block;
    }
  }
}

.additional-goods__item:first-of-type {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
    }
  }
}

.additional-goods__button {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    width: auto;
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    align-self: center;
  }
}

.additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 82px;
  }
}

.additional-goods__circumscribing-wrapper {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-background-catalog.jpg");
  background-repeat: no-repeat, no-repeat;
  padding: 189px 61px 40px 57px;
  width: 280px;
  box-sizing: border-box;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/cat-background-catalog@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    padding: 71px 124px 69px 0;
    background-size: cover;
    background-position: 100% 60%;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 43px 42px 41px;
    margin: 0;
    margin-left: auto;
    width: 245px;
  }
}

.additional-goods__circumscribing {
  margin: 0;
  padding: 0;
  font-family: $basic-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;

  &::before {
    position: absolute;
    content: "";
    top: 59px;
    left: 50%;
    transform: translateX(-40px);
    width: 70px;
    height: 70px;
    background-image: url("../img/catalog/gift.svg");
  }

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: start;
    margin-left: auto;

    &::before {
      position: absolute;
      content: "";
      top: 58px;
      left: 17%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      top: 58px;
      left: 50%;
      transform: translateX(-38px);
    }
  }
}

.additional-goods__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 49px;
  }
}

.additional-goods__price {
  margin: 0;

  @media (min-width: $desktop-width) {
  display: block;
  }
}
