.addition {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.addition__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 33px;
  }
}

.addition__title {
  position: relative;
  margin-bottom: 39px;
  padding: 0;
  padding-right: 23px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(1px);
    left: 100%;
    width: 400vh;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 211px;
    font-size: 36px;
    line-height: 36px;
    background-color: $white;
    padding: 0 38px;
    margin-bottom: 76px;
    margin-left: -38px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(4px);
      left: -100%;
      width: 500vw;
      height: 2px;
      background-color: #68b738;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.addition__item {
  color: $black;
  padding-bottom: 12px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.addition__item label {
  position: relative;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
  }
}

.addition__control-mark {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
    }
  }
}

.addition__control:checked + .addition__control-mark {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 0;
    left: 0;
    transform: translate(5px, 7px);
    background-image: url("../img/form/tick.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 19px;
      top: 0;
      left: 0;
      transform: translate(8px, 10px);
      background-image: url("../img/form/tick-big.svg");
    }
  }
}

.addition__control:hover + .addition__control-mark {
  &::before {
    border: 1px solid #bababa;
  }
}

.addition__control:disabled + .addition__control-mark {
  opacity: 0.3;
}
