.advantages {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 42px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 134px;
    counter-reset: advantages-counter;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
  }
}

.advantages__item-description {
  margin: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    counter-increment: advantages-counter;

    &::after {
      position: absolute;
      bottom: -55px;
      right: 4px;
      content: counter(advantages-counter);
      font-family: $title-font;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 4px;
    }
  }
}

.advantages__item--health .advantages__item-description {
  @media (min-width: $tablet-width) {
    &::after {
      right: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 26px;
    }
  }
}

.advantages__item--fast .advantages__item-description {
  @media (min-width: $desktop-width) {
    &::after {
      right: -5px;
    }
  }
}

.advantages__item {
  position: relative;
  color: #444444;
  margin-bottom: 26px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 0;
    padding-top: 141px;
    margin-bottom: 104px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 55px;
  }
}

.advantages__item--health {
  &::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 18px;
    width: 25px;
    height: 28px;
    background-image: url("../img/main-page/health.svg");
    background-size: cover;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 57px;
      left: 26px;
      right: 25px;
    }

    &::after {
      top: 30px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
  }
}

.advantages__item--easy {
  &::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 15px;
    width: 29px;
    height: 31px;
    background-image: url("../img/main-page/easy.svg");
    background-size: cover;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 54px;
      left: 24px;
    }

    &::after {
      top: 30px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 75px;
  }
}

.advantages__item--food {
  &::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 18px;
    width: 25px;
    height: 30px;
    background-image: url("../img/main-page/food.svg");
    background-size: cover;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 55px;
      left: 28px;
    }

    &::after {
      top: 30px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 75px;
  }
}

.advantages__item--fast {
  &::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 14px;
    width: 32px;
    height: 33px;
    background-image: url("../img/main-page/fast.svg");
    background-size: contain;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 54px;
      left: 24px;
    }

    &::after {
      top: 30px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 245px;
  }
}
