.button {
  width: 280px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 7px 44px;
  border: none;
}
