.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 280px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 11px 44px;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
    cursor: pointer;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
}
