.catalog-container__title {
  position: relative;
  padding-top: 27px;
  padding-bottom: 41px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  padding-bottom: 41px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20%;
    width: 200vh;
    height: 1px;
    background-color: #EBEBEB;

  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

