.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.button.catalog__button {
  @media (min-width: $tablet-width) {
    padding: 10px 93px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
    width: auto;
  }
}
