.catalog-container {
  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.catalog-container__title {
  position: relative;
  padding-top: 27px;
  padding-bottom: 41px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 200vh;
    height: 1px;
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 124px;
    font-size: 60px;
    line-height: 60px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 165px;
  }
}
