.contacts {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 35px;
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 96px;
    left: 110px;
    width: 565px;
    padding: 62px 76px 32px 80px;
    box-sizing: border-box;
    background-color: $white;
  }
}

.contacts__invitation {
  width: 140px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 140px;
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet-width) {
    text-align: end;
    margin-top: -2px;
    font-size: 16px;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.page__catalog .contacts,
.page__form .contacts {
  padding-top: 27px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contacts__map {
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 396px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.contacts__adress-street,
.contacts__adress-town {
  margin: 0;
}

.contacts__adress-street {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -4px;
  }
}
