.data {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.data__list {
  position: relative;
  padding-bottom: 10px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -100%;
    width: 400%;
    height: 1px;
    background-color: #D9D9D9;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.data__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.data__item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.data__item input,
.data__item label,
textarea {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.data__item label {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.data__userfield {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 14px;
  flex-grow: 1;
  border: 1px solid #E7E7E7;

  &:focus {
    outline: 2px solid #444444;
  }

  &:hover {
    outline: 1px solid #CDCDCD;
  }

  &:invalid {
    outline: 2px solid #FF8282;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
  }
}
