.example {
  padding-top: 25px;
  margin-bottom: 27px;
  background-color: #EAEAEA;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    background-color: $white;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.example__container {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;
    background-color: #F2F2F2;
  }
}

.example__inner-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 545px 1fr;
    column-gap: 86px;
  }
}

.example__title {
  margin: auto;
  width: 280px;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 63px;
    background-color: $white;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    width: 1220px;
    margin: auto;
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 280px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    margin-left: auto;
    width: 737px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    // grid-column: 1 / 2;
    // grid-row: 1 / 2;
    width: 436px;
    margin-top: 71px;
    margin-bottom: 68px;
  }
}

.example__stats-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 174px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    // grid-column: 1 / 2;
    // grid-row: 2 / 3;
  }
}

.example__item {
  position: relative;
  width: 124px;
  box-sizing: border-box;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 162px;
    margin-right: 38px;
  }
}

.example__number {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-45px);
  width: 75px;
  padding: 0 6px;
  text-align: center;
  z-index: 2;
  margin: 0;
  background-color: #EAEAEA;
  font-family: $basic-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 127px;
    padding: 0;
    bottom: -5px;
    transform: translateX(-64px);
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
  }
  @media (min-width: $desktop-width) {
    width: 142px;
    bottom: -6px;
    transform: translateX(-71px);
    background-color: #F2F2F2;
  }
}

.example__costs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: end;
    margin: 0;
    margin-top: -21px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // width: 100%;
    margin-top: 31px;
    margin-bottom: 10px;
  }
}

.example__description-costs,
.example__description-number {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__description-costs {
  @media (min-width: $desktop-width) {
    margin-right: 67px;
  }
}

.example__description-number {
  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }
}

.example__image-wrapper {
  padding-bottom: 15px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 65px;
    background-image: linear-gradient(to bottom, white 0%, white 32%, #EAEAEA 32%, #EAEAEA 100%);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0;
    background-color: transparent;
    background-image: none;
  }
}

.example__progress {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  margin-left: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #EAEAEA;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0;
    justify-content: space-between;
    align-items: end;
    background-color: transparent;
    margin-top: 55px;
    margin-bottom: 4px;
  }
}

.example__slim-image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 296px;
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -177px;
  }
}

// .example__fat-wrapper {
//   @media (min-width: $tablet-width) {
//     width: 122px;
//     overflow: hidden;
//   }
// }

.example__fat-image {
  @media (min-width: $tablet-width) {
    width: 296px;
    height: 511px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -177px;
  }
}

// .example__slim-wrapper {
//   @media (min-width: $tablet-width) {
//     width: 122px;
//     overflow: hidden;
//   }
// }

.example__progress-before,
.example__progress-after {
  position: relative;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__progress-before {
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 89px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: url("../img/main-page/underline-dotted.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 121px;
  }
}

.example__progress-after {
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 85px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: url("../img/main-page/underline-dotted.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 118px;
  }
}

.example__progress-bar-main {
  position: relative;
  width: 86px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 6px;

  &::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 6px;
    top: 5px;
    left: 50%;
    transform: translateX(-36px);
    background-color: $basic-green;
    border-radius: 6px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 8px;
    z-index: 2;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #68B738;
    }

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 12px;
      border-radius: 50%;
      transform: translateX(-4px);
    }
  }

  @media (min-width: $desktop-width) {
    top: 70px;
    left: 50%;
    transform: translateX(-17px);
  }
}

.example__progress-bar-inner {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 426px;
    height: 6px;
    top: 50%;
    left: -196px;
    transform: translateY(12px);
    z-index: 0;
    background-color: #DCDCDC;
    border-radius: 6px;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-12px);
  }
}
