.form {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    justify-self: start;
    font-size: 16px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 69px;
  }
}

.form__button-wrapper {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 72px;
    align-items: center;
    max-width: 630px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 82px;
    max-width: 1220px;
  }
}
