.form__button {
  font-size: 16px;
  line-height: 20px;
}

.form__description {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-transform: none;
}
