.form {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.form-container__title {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.form-container__description {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
  }
}

.data__list,
.weight-program__list,
.master-contacts__list,
.addition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

