.main-container__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin-left: 87px;
    margin-bottom: 41px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    margin-left: 87px;
    margin-bottom: 40px;
    text-align: start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.main-container__description {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    margin-left: 87px;
    margin-bottom: 45px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    margin-left: 87px;
    margin-bottom: 52px;
    text-align: start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.main-container__wrapper::before {
  content: "";
  width: 100%;
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main-page/cat-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  position: absolute;

  @media (min-width: $tablet-width) {
     background-image: none;
     background-color: $white;
   }

   @media (min-width: $desktop-width) {
     position: absolute;
     top: 0;
     z-index: -1;
     background-image: linear-gradient(to right, #ffffff 0%, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/main-page/cat-background-desktop.jpg");
     background-size: contain;
     background-position: right 100%;
     height: 720px;
   }
}






