.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.page__form .main-header {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.logo {
  width: 192px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
