.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 26px;
}

.page__body .main-footer,
.page__catalog .main-footer {
  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.page__form .main-footer {
  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.main-footer__footer-logo {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::after {
    position: absolute;
    content: "";
    left: -70px;
    bottom: -27px;
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
