.main-navigation__toggle {
  background: transparent;
}

.main-navigation__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__item {
  font-family: $title-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.main-navigation__link {
  text-decoration: none;
  color: $black;
}
