.page {
  min-width: 320px;
  margin: 0 auto;
}

.page__body,
.page__catalog,
.page__form {
  overflow-x: hidden;
  margin: 0;
  padding-top: 11px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

