.programs {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.programs__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__intro-image {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    position: static;
    transform: none;
    align-self: center;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.programs__intro-wrapper {
  position: relative;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
     display: grid;
     grid-template-columns: 708px;
     grid-template-rows: auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 520px 200px;
  }
}

button.programs__button {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-left: 91px;
    margin-top: 40px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    z-index: 2;
    align-self: start;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    width: 254px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.programs__wrapper {
  margin-bottom: 20px;
  background-color: #F2F2F2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__description {
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
}

.programs__button-description {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
}

.programs__definition {
  color: #444444;
}


