.social {
  position: relative;
  margin-top: 15px;
  margin-bottom: 21px;

  &::after {
    position: absolute;
    content: "";
    left: -67px;
    bottom: -17px;
    width: 280px;
    height: 1px;
    background-color: #D9D9D9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    min-width: 144px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__link svg {
  fill: #666666;

  &:hover {
    fill: #68B738;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}
