.weight-program {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: 1px solid #E7E7E7;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 88px;
  }
}

.weight-program__item label {
  color: #222222;
}

.weight-program__item {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

}
