.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-center {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.inner-content-center {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
